/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background: #3b5998;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 3em;
  margin: 0;
}

header p {
  font-size: 1.2em;
  margin: 10px 0 0;
}

/* Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.hero-img {
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
  margin: auto;
}

.hero-text {
  flex: 1;
  padding: 20px;
}

.hero-text h2 {
  font-size: 30px;
  color: #3b5998;
}

.hero-text p {
  line-height: 1.6;
  font-size:20px
}

/* Key Features Section */
.features {
  padding: 20px;
  text-align: center;
  background: #e8f5e9;
  margin-bottom: 40px;
}

.features h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #2e7d32;
}

.feature-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  width: 300px;
  font-size: 20px;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  color: #2e7d32;
  margin: 10px 0;
}

/* Fun Facts Section */
.fun-facts {
  background: #e8f5e9;
  padding: 20px;
}

.fun-facts h2 {
  font-size: 2.5em;
  color: black;
  text-align: left;
  margin-bottom: 20px;
}

.fun-facts ul {
  list-style-type: square;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.5em;
  padding-left: 0px;
  line-height: 1.8;
  
}



/* CTA Section */
.cta {
  background: #3b5998;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.cta h2 {
  font-size: 2.5em;
  margin: 0 0 10px;
}

.cta p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

.cta-button {
  background: #2e7d32;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  transition: background 0.3s;
}

.cta-button:hover, .homebutton:hover {
  background: #1b5e20;
}

/* Footer */
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px 0;
}
.card-2img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  font-size: 30px;
}
.homebutton{
  text-decoration: none;
  color: white;
  background-color: #2e7d32 ; /* Orange for button */
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
font-size: 20px;
